src/main/xsd/asim/asimovUnits.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://io.asimov.almende.org/2015/schema/unit/"
	elementFormDefault="unqualified" attributeFormDefault="unqualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:asimovunit="http://io.asimov.almende.org/2015/schema/unit/">
	
	<simpleType name="tPropertyTypeEnum">
		<restriction base="NMTOKEN">
			<enumeration value="string"/>
			<enumeration value="anyURI"/>
			<enumeration value="base64Binary"/>
			<enumeration value="boolean"/>
			<enumeration value="byte"/>
			<enumeration value="date"/>
			<enumeration value="dateTime"/>
			<enumeration value="decimal"/>
			<enumeration value="derivationControl"/>
			<enumeration value="double"/>
			<enumeration value="duration"/>
			<enumeration value="ENTITIES"/>
			<enumeration value="ENTITY"/>
			<enumeration value="float"/>
			<enumeration value="gDay"/>
			<enumeration value="gMonth"/>
			<enumeration value="gMonthDay"/>
			<enumeration value="gYear"/>
			<enumeration value="gYearMonth"/>
			<enumeration value="hexBinary"/>
			<enumeration value="ID"/>
			<enumeration value="IDREF"/>
			<enumeration value="IDREFS"/>
			<enumeration value="int"/>
			<enumeration value="integer"/>
			<enumeration value="language"/>
			<enumeration value="long"/>
			<enumeration value="Name"/>
			<enumeration value="NCName"/>
			<enumeration value="negativeInteger"/>
			<enumeration value="NMTOKEN"/>
			<enumeration value="NMTOKENS"/>
			<enumeration value="nonNegativeInteger"/>
			<enumeration value="nonPositiveInteger"/>
			<enumeration value="normalizedString"/>
			<enumeration value="NOTATION"/>
			<enumeration value="positiveInteger"/>
			<enumeration value="QName"/>
			<enumeration value="short"/>
			<enumeration value="simpleDerivationSet"/>
			<enumeration value="time"/>
			<enumeration value="token"/>
			<enumeration value="unsignedByte"/>
			<enumeration value="unsignedInt"/>
			<enumeration value="unsignedLong"/>
			<enumeration value="unsignedShort"/>
		</restriction>
	</simpleType>
	
	<complexType name="tProperty">
		<simpleContent>
			<extension base="anySimpleType">
				<attribute name="name" type="string"/>
				<attribute name="type" type="asimovunit:tPropertyTypeEnum"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<simpleType name="distributionTypeEnum">
		<restriction base="NMTOKEN">
			<enumeration value="Constant">
				<annotation>
					<documentation>This distribution always samples the provided (constant) value.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Beta">
				<annotation>
					<documentation>This continuous distribution takes as arguments: alpha and beta.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Binomial">
				<annotation>
					<documentation>This discrete distribution takes as arguments: trials and p.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Cauchy">
				<annotation>
					<documentation>This continuous distribution takes as arguments: median and scale.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ChiSquared">
				<annotation>
					<documentation>This continuous distribution takes as argument: degreesOfFreedom.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Constant">
				<annotation>
					<documentation>This continuous distribution takes as arguments: alpha and beta.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EnumeratedContinuous">
				<annotation>
					<documentation>This continuous distribution takes as arguments: pmf.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EnumeratedDiscrete">
				<annotation>
					<documentation>This discrete distribution takes as arguments: pmf.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Exponential">
				<annotation>
					<documentation>This continuous distribution takes as argument: mean.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>This continuous distribution takes as arguments: numeratorDegreesOfFreedom and denominatorDegreesOfFreedom.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Gamma">
				<annotation>
					<documentation>This continuous distribution takes as arguments: shape and scale.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Geometric">
				<annotation>
					<documentation>This discrete distribution takes as argument: p.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Hypergeometric">
				<annotation>
					<documentation>This discrete distribution takes as arguments: populationSize, numberOfSuccesses and sampleSize.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Levy">
				<annotation>
					<documentation>This continuous distribution takes as arguments: mu and c.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LogNormal">
				<annotation>
					<documentation>This continuous distribution takes as arguments: scale and shape.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Normal">
				<annotation>
					<documentation>This continuous distribution takes as arguments: mean and sd.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Pareto">
				<annotation>
					<documentation>This continuous distribution takes as arguments: scale and shape.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Pascal">
				<annotation>
					<documentation>This discrete distribution takes as arguments: r and p.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Poisson">
				<annotation>
					<documentation>This discrete distribution takes as arguments: alpha and beta.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="T">
				<annotation>
					<documentation>This continuous distribution takes as argument: denominatorDegreesOfFreedom.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Triangular">
				<annotation>
					<documentation>This continuous distribution takes as arguments: a, b and c.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UniformContinuous">
				<annotation>
					<documentation>This continuous distribution takes as arguments: lower and upper.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UniformDiscrete">
				<annotation>
					<documentation>This discrete distribution takes as arguments: lower and upper.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Weibull">
				<annotation>
					<documentation>This continuous distribution takes as arguments: alpha and beta.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Zipf">
				<annotation>
					<documentation>This discrete distribution takes as arguments: numberOfElements and exponent.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Other">
				<annotation>
					<documentation>This distribution may take any argument, including: type.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<simpleType name="processValueRefEnum">
		<restriction base="NMTOKEN">
			<enumeration value="nextActivity">
				<annotation>
					<documentation>Distribution over an activity's likelihood per nextActivityRef. Requires activityRef attribute.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="waitingTime">
				<annotation>
					<documentation>Distribution over an activity's waiting time. Requires activityRef attribute.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="executionTime">
				<annotation>
					<documentation>Distribution over an activity's execution time. Requires activityRef attribute.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="transportTime">
				<annotation>
					<documentation>Distribution over an activity's transport time. Requires activityRef attribute.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="timeOfUse">
				<annotation>
					<documentation>Distribution over an activity's used equipment time of use. Requires activityRef and usedEquipmentRef attributes.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="concurrency">
				<annotation>
					<documentation>Distribution over an activity's or process time of exclusive usage where in terms of percent 0 percent means non-exclusive-utilization and 100 percent means utilization-dedicated to the given refs.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="other">
				<annotation>
					<documentation>Distribution over a process value. Requires "otherRef" attribute.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<complexType name="tExtension">
		<sequence>
			<element name="properties" type="asimovunit:tPropertySet" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="rootElementName" type="string"/>
		<attribute name="referenceID" type="string"/>
		<attribute name="version" type="string" use="optional"/>
		<attribute name="application" type="string" use="optional"/>
		<attribute name="scope" type="string" use="optional"/>
	</complexType>
	
	<complexType name="tPropertySet">
		<sequence>
			<element name="property" type="asimovunit:tProperty" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
		<attribute name="name" type="string"/>
	</complexType>
	
	<complexType name="tDistribution">
		<sequence>
			<element name="property" type="asimovunit:tProperty" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
		<attribute name="type" type="asimovunit:distributionTypeEnum" />
		<attribute name="otherType" type="string" use="optional" />
		<attribute name="processRef" type="string" />
		<attribute name="valueRef"
			type="asimovunit:processValueRefEnum" />
		<attribute name="activityRef" type="string" use="optional" />
		<attribute name="usedEquipmentRef" type="string" use="optional" />
		<attribute name="usedSpaceTypeRef" type="string" use="optional" />
		<attribute name="otherRef" type="string" use="optional" />
	</complexType>
	
</schema>
